<div id="<%= dom_id wallet %>">
  <p>
    <strong>User:</strong>
    <%= w.user %>
  </p>

  <p>
    <strong>Satoshi:</strong>
    <%= helper_sum_satoshi %>
  </p>

  <p>
    <strong>Dollar:</strong>
    <%= helper_convert_dolar %>
  </p>

</div>
