<div id="<%= dom_id wallet %>">
  <p>
    <strong>User:</strong>
    <%= wallet.user %>
  </p>

  <p>
    <strong>Satoshi:</strong>
    <%= wallet.satoshi %>
  </p>

  <p>
    <strong>Dollar:</strong>
    <%= wallet.dollar %>
  </p>

</div>
