<p style="color: green"><%= notice %></p>

<h1></h1>

<div id="pokemons">
  
      <% @pokemon.each do |pokemon| %>
            <p>
                <%= link_to "Detalhes", pokemon %>
                <%= pokemon['name'] %>
            </p>
  <% end %>
</div>


